*{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: content-box;
}

body{
	font-family: 'Verdana', sans-serif;
}

a{
	color: inherit;
	text-decoration: none;
}

ul, ol, li{
	list-style: none;
}