[data-color='first']{
	background-color: #45aaee;
}

[data-color='second']{
	background-color: #ff1010;
}

[data-color='third']{
	background-color: #76ef40;
}

[data-color='fourth']{
	background-color: #ebef40;
}

.card{
	display: inline-block;
	box-sizing: border-box;

	padding: 32px 16px 16px;
	width: 25%;
	position: relative;
}

.wrap-card-colors{
	position: absolute;
	top: -16px;	
}

.card-colors{
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	box-sizing: border-box;
	border: 2px solid rgba(0, 0, 0, 0.5);

	text-indent: -9999px;
	overflow: hidden;
}

.card-colors.isActive{
	border-width: 4px;
}