[data-color='first']{
	background-color: #45aaee;
}

[data-color='second']{
	background-color: #ff1010;
}

[data-color='third']{
	background-color: #76ef40;
}

[data-color='fourth']{
	background-color: #ebef40;
}

.card{
	display: flex;
	align-items: center;

	box-sizing: border-box;

	padding: 32px 16px 16px;
	width: 24%;
	min-height: 150px;
	position: relative;
	margin: 0 0 1%;

	font-size: 20px;

}

.wrap-card-options{
	position: absolute;
	top: -16px;
	opacity: 0;
	transition: opacity 0.5s linear;
}

.card:hover .wrap-card-options{
	opacity: 1;
	transition: opacity 0.15s linear;
}

.card-options{
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	box-sizing: border-box;
	border: 2px solid rgba(0, 0, 0, 0.5);

	text-indent: -9999px;
	overflow: hidden;
	cursor: pointer;
}

.card_delete{
	background-image: url('../../assets/delete.svg');
	background-color: #fff;
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
}

.card_edit{
	background-color: #fff;
	background-image: url('../../assets/edit.svg');
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
}

.card-content[contenteditable="true"]{
	outline: 2px dotted rgba(0, 0, 0, 0.5);
}

.card-options.isActive{
	border-width: 4px;
}