.header{
	color: blue !important;
	background-color: #51b0dc;
	height: 40px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 40px; 
}

.header-title{
	color: #83daee;
	display: inline;
	vertical-align: middle;
}

.header-menu{
	float: right;
}

.header-button:first-child{
	margin-right: 15px;
}

.header-button{
	background-color: #006195;
	font-size: 16px;
	color: #fff;
	height: 22px;
	padding: 8px;
	display: inline-block;
}